* {
	font-family: "Kanit", sans-serif;
	font-weight: 400;
	font-style: normal;
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/* footer */
footer {
	/* margin-top: 100px; */
	/* height: 150px; */
	width: 100%;
	background-color: #36558f;
	/* margin-bottom: 0%; */
}

.footer-links {
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer-links h3 {
	color: white;
}
.footer-links ul {
	margin-top: 5px;
}
.footer-links li {
	margin-bottom: 6px;
	text-decoration: none;
	list-style: none;
}
.footer-links a {
	color: #9cc9e7;
}
.nameTag {
	height: 30px;
	color: white;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0%;
	background-color: #36558f;
	text-align: right;
	/* padding-right: 20px; */
}

.nameTag p {
	margin-right: 10px;
}
