* {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background-color: #f6f2ff;
}

/* navbar */
.navbar {
    margin-top: 30px;
    height: 80px;
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    /* background-color: #326273; */
    background-color: #36558f;
    display: flex;
    justify-content: space-between;
}

/* navigation panel */
.navigation {
    margin-top: 130px;
    margin-left: 30px;
}
.navigation a {
    font-size: 0.8rem;
    text-decoration: underline;
    color: #36558f;
}
.navbar .items a:hover {
    text-shadow: 0 5px 8px rgba(173, 216, 230, 1);
}

/* navigation panel */
.page-name {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 2.2rem;
}

/* loading bar  */
.loading-container {
    /* margin-top: 120px; */
    width: 100%;
    background-color: #f3f3f3;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    position: relative;
    visibility: hidden;
}
.loading-bar {
    width: 50px;
    height: 100%;
    background-color: #36558f;
    position: absolute;
    animation: slide 1s infinite alternate ease-in-out;
}
@keyframes slide {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 50px);
    }
}

/* product container */
.product-container {
    visibility: hidden;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    gap: 30px;
}

/* image container */
.product-container .image-container img {
    width: 500px;
    height: 400px;
}

/* product title */
#product-title {
    font-size: 1.6rem;
}

/* product price */
.price-details {
    display: flex;
    flex-direction: column;
    gap: 0;
}
#product-price {
    font-size: 1.8rem;
}
#price-mrp {
    font-size: 0.8rem;
    font-weight: 200;
}

/* product description */
#product-description {
    margin-top: 30px;
    font-weight: 300;
}

/* buy buttons */
.product-container .button-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.product-container .button-container button {
    background-color: #36558f;
    color: white;
    height: 40px;
    /* width: 150px; */
    width: 50%;
    /* border: 2px solid black; */
    border-radius: 10px;
    cursor: pointer;
}

/* benefit container */
.benefits-container {
    margin-top: 100px;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.benefits {
    display: flex;
    flex-direction: column;
}

.benefits img {
    height: 100px;
    width: 100px;
}
