* {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background-color: #f6f2ff;
    scroll-behavior: smooth;
}

.description {
    margin-top: 150px;
    /* background-color: aquamarine; */
    /* color: #274d5a; */
    /* height: 100px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description #line1 {
    font-size: 1.5rem;
}

/* go to shop button */
.manage-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#btn1 {
    border-radius: 10px;
    font-size: 1.2rem;
    height: 50px;
    width: 200px;
    padding: 5px;
    margin-top: 50px;
    /* margin-left: 50%; */
    background-color: #36558f;
    color: #eeeeee;
    cursor: pointer;
    transition: 0.2s;
}
#btn1:hover {
    background-color: #e5533d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
